<div class="min-h-screen flex items-center justify-center bg-gray-100 overscroll-x-none">
    <div class="text-center">
        <h1 class="text-6xl font-bold text-yellow-600">404</h1>
        <p class="text-2xl font-bold mt-4 mb-4">Oops! Looks like you're lost in the library 😓</p>
        <div class="flex justify-center">
            <img src="assets/images/404-not-found.jpg" alt="404-not-found" class="mask mask-decagon">
        </div>
        <p class="mt-2 text-lg">The page you're looking for seems to have vanished between the shelves. But don’t worry! Here are a few options to help you find your way:
        </p>
        <a routerLink="/home" class="btn btn-primary m-4">Return to Home Page 🏡</a>
        <a routerLink="/books" class="btn btn-secondary m-2">Explore Our Book Collection 📖</a>
        <a routerLink="/authors" class="btn btn-accent m-2">Browse by Authors 👨🏼</a>
        <p class="mt-4">If you think this is a mistake, please contact support. 👩🏻‍💻</p>
    </div>
</div>