<div class="search-form-container">
    <form [formGroup]="searchForm" (ngSubmit)="onSearch()" class="p-4">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <div>
                <input type="text" formControlName="title" placeholder="Title"
                    class="input input-bordered w-full max-w-md mx-auto">
            </div>

            <div>
                <input type="text" formControlName="author" placeholder="Author"
                    class="input input-bordered w-full max-w-md mx-auto">
            </div>

            <div>
                <select formControlName="status" class="select select-bordered w-full max-w-md mx-auto">
                    <option value="">Status</option>
                    <option *ngFor="let status of statuses" [value]="status">{{ status }}</option>
                </select>
            </div>

            <div>
                <input type="text" formControlName="isbn" placeholder="ISBN"
                    class="input input-bordered w-full max-w-md mx-auto">
            </div>

            <div>
                <input type="text" formControlName="genre" placeholder="Genre"
                    class="input input-bordered w-full max-w-md mx-auto">
            </div>
        </div>

        <div class="flex justify-center">
            <button type="submit" class="btn btn-neutral mt-6">Search</button>
        </div>
    </form>
</div>