<div class="max-w-lg mx-auto my-10">
    <h2 class="text-2xl font-bold mb-4 text-center">Edit Reader Information</h2>
    <form [formGroup]="editReaderForm" (ngSubmit)="onSubmit()" class="space-y-4">
        <div class="form-control">
            <label class="label" for="firstName">
                <span class="label-text">First Name</span>
            </label>
            <input type="text" id="firstName" formControlName="firstName" class="input input-bordered w-full" />
        </div>
        <div class="form-control">
            <label class="label" for="lastName">
                <span class="label-text">Last Name</span>
            </label>
            <input type="text" id="lastName" formControlName="lastName" class="input input-bordered w-full" />
        </div>
        <div class="form-control">
            <label class="label" for="phone">
                <span class="label-text">Phone Number</span>
            </label>
            <input type="tel" id="phone" formControlName="phone" class="input input-bordered w-full">
        </div>
        <div class="form-control">
            <label class="label" for="address">
                <span class="label-text">Address</span>
            </label>
            <input type="text" id="address" name="address"
                class="input input-bordered w-full" />
        </div>
        <div class="form-control">
            <label class="label" for="email">
                <span class="label-text">Email</span>
            </label>
            <input type="email" id="email" name="email"
                class="input input-bordered w-full" />
        </div>
        <div class="form-control">
            <label class="label" for="userId">
                <span class="label-text">User ID</span>
            </label>
            <input type="number" id="userId" name="userId"
                class="input input-bordered w-full" />
        </div>
        <div class="form-control mt-6">
            <button type="submit" class="btn btn-info w-full mb-2">Save Changes</button>
            <button type="button" (click)="cancel()" class="btn btn-secondary">Cancel</button>
        </div>
    </form>
</div>