<div class="search-form-container flex justify-center items-center">
    <form [formGroup]="searchForm" (ngSubmit)="onSearch()" class="p-4">
        <div class="flex flex-col gap-2 items-center">
            <div>
                <input type="text" formControlName="name" placeholder="Name"
                    class="input input-bordered w-full">
            </div>

            <div>
                <input type="tel" formControlName="phone" placeholder="Phone Number"
                    class="input input-bordered w-full">
            </div>

            <div>
                <input type="email" formControlName="email" placeholder="Email"
                    class="input input-bordered w-full">
            </div>
        </div>

        <div class="flex justify-center mt-4">
            <button type="submit" class="btn btn-neutral">Search</button>
        </div>
    </form>
</div>