<div class="min-h-screen flex items-center justify-center bg-gray-100 overscroll-x-none">
    <div class="text-center">
        <h1 class="text-6xl font-bold text-yellow-600">500</h1>
        <p class="text-2xl font-bold mt-4 mb-4">Oh no! Something went wrong on our end. 😓</p>
        <div class="flex justify-center">
            <img src="assets/images/500-server.jpg" alt="500-server-error" class="mask mask-decagon">
        </div>
        <p class="mt-2 text-lg">We're working hard to fix it, but in the meantime, go touch some grass. 🌱
        </p>
        <p class="mt-4">Thank you for your patience! If the problem persists, please contact support.</p>
    </div>
</div>